html {
  margin: 0%;
}

.barra {
  background-color: rgba(37, 35, 35, 0.284);
  display: flex;
  width: 100%;
  justify-content: space-between;

}

.barra img {
  width: 30px;
  height: 30px;
  padding-left: 5px;
  padding-top: 10px;
}
.navbar{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
a {
  text-decoration: none;
  color: white;
}
.Home {
  text-align: center;
  padding-top: 15px;
}
.Home img {
  height: 500px;
}
.pokemon {
  text-align: center;
}

.select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.activo {
  color: red;
  padding-right: 10px;
}

.card {
  display: flex;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
}

.card img {
  width: 500px;
  height: 500px;
  position: relative;
}
.estadisticas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.estadisticas span {
  padding-left: 3px;
}